@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --animate-border-beam: border-beam calc(var(--duration)*1s) infinite linear;
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
  color: #fff;
}

@theme {
  --color-white-50: #d9ecff;
  --color-sparkles-color: var(----sparkles-color);
  --color-gradient-color: var(----gradient-color);
}

:root {
  --gradient-color: #8350e8;
  --sparkles-color: #8350e8;
}

.dark {
  --gradient-color: #8350e8;
  --sparkles-color: #ffffff;
}

@layer utilities {
    .flex-center {
    @apply flex items-center justify-center;
  }
}